{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-dark">
   <h2>Create a Postcard!</h2>
   <hr />
   <h5>Here's how you do it:</h5>
   <ol>
      <li>Uplaod a photo</li>
      <li>Enter you email</li>
      <li>You'll get an email with your new postcard attached to it! (<a href="/Postcards">see my postcards</a>)</li>
   </ol>
   {% for message in form.email.errors %}
      <div class="label label-danger">{{ message }}</div>
   {% endfor %}

   {% for message in form.photo.errors %}
      <div class="label label-danger">{{ message }}</div>
   {% endfor %}
   <form name="photo_form" action="/" method="POST" enctype="multipart/form-data" onsubmit="photoValidate()">
      <div class="form-group">
         {{ form.photo.label }}
         {{ form.photo(**{'class': 'form-control btn btn-light'}) }}
         {{ form.email.label }}
         {{ form.email(**{'class': 'form-control bg-dark text-white'}) }}
      </div>
      <div class="form-group">
         {{ form.submit(**{'class': 'form-control btn btn-primary'}) }}
      </div>
   </form>
</div>
{% endblock %}