{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-dark">
    <h2>Postcards</h2>
    <hr />
    <table class="table table-dark">
        <tr><th>ID</th><th>Photo</th><th>Operations</th><th>Email</th></tr>
        {% for pic in pics %}
        <tr>
            <td>{{ pic[0] }}</td>
            <td><img id="pc{{ pic[0] }}" class="pc img rounded" style="width: 150px;" src="{{ pic[4] }}{{ pic[1] }}?dummy={{ n }}" alt="/static/{{ pic[1] }}" /></td>
            <td>
                <button id="cr{{ pic[0] }}" class="cr btn btn-primary{% if pic[3] %} disabled{% endif %}">Create Postcard</button><br /><br />
                <button id="del{{ pic[0] }}" class="del btn btn-danger">Delete</button><br /><br />
                <button id="snd{{ pic[0] }}" class="snd btn btn-secondary{% if not pic[3] %} disabled{% endif %}">Send Email</button>
            </td>
            <td>{{ pic[2] }}</td>
        </tr>
        {% endfor %}
        <tr><th colspan="4"><a class="form-control btn btn-primary" href="/">Add a New Pic</a></th></tr>
    </table>
</div>
{% endblock %}